@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
   
}

header{
    width: 100%;
    background-color: #7122FA;
    color: white;
    padding: 5px;   
    height: 120px;    
    border-radius: 0 0 0 50px;
    position: fixed;
    z-index: 99999;
    opacity: 1;
    
      
}

img{
  height: 105px; 
 width: 300px;
 margin-right: 18%;
  
}

/* .head{
  display: flex;
  justify-content: space-between;
} */


#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#logo{
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 50px;
    color: rgb(249, 250, 245);   
    text-align: center;   
    /* margin-left: 17%; */
    
}

 .search{
    margin-left: 16% ;
    margin-top: 10px ;
    padding: 10px;
    background-color: white;
    width: 70%;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(100, 83, 192, 0.986);
}

.search-bar input[type=text] {
    padding: 10px ;    
    margin: 0.5% 0 0 5%; 
    width: 20%;
    font-size: 17px;
    border: 1px solid grey;
    border-radius: 5px ;
    float: left;    
    background-color: white;
    text-align: center;
    
  }
  
 


  .search-bar button {
      
    float: left;
    width: 11%;
    padding: 10px;
    margin: 0.5% 0 0 3%;
    background: #7122FA;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-radius: 5px;
    border-left: none;
    cursor: pointer;
    text-align: center;
  }
  
  .search-bar button:hover {
    background: black;
  }
  
  .search-bar::after {
    content: "";
    clear: both;
    display: table;
  } 



  #data {
      padding-top: 200px;
      margin: 0 8% 0 16.5%;
      display: grid;
      grid-template-columns: repeat(3, 1fr); 
      margin-bottom: 8%;
      /* grid-template-columns: minmax(3, 1fr);    */
  }
 
  
  .company {
    position: relative;
    border-radius: 5px;
    border: 1.5px solid rgb(165, 162, 162);
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
    margin-top: 20%;    
    padding: 8% 6% 6% 6%;
    text-align: left;
    width: 75%;
    word-wrap: break-word;
}

  h1{
      text-align: center;
  }
  h2{
      position: absolute;
      width: 100%;
      margin-left: 11%;
  }
  
  .company>.strength {
      font-size: 18px;
      font-weight: bolder;   
      line-height: 94%;  
      padding: 5% 0;
  }

  .company:hover{
      transform: scale(1.15);
      box-shadow: 5px 5px 15px rgba(92, 29, 199, 0.877);
      /* background-color: #d5c2fa;   */
      color: black;
  }

 
  #clogo{
      width: 37% ;
      height: 20%;
      float: left;
      margin-top: -20%;
      border-radius: 5px;
      border: 2px solid rgb(10, 10, 10) ;
      padding: 3px;
      background-color: white;    
  }

  .text1{
      padding: 2% 0;
      font-size: 13px;
      font-weight: 300;
      color: rgb(116, 113, 113);
  }

  .comp-name{
    font-size: 16px;
    font-weight: bolder;
    color: rgb(88, 85, 85);
}

.loc{
    font-size: 15px;
    font-weight: 900;
    line-height: 95%; 
    padding-top: 5%;
    color: black;
}



.applyJ{
      
    float:right;
    width: 24%;
    padding: 5px;
    margin-bottom: -5%;
    background: black;
    color: white;
    font-size: 13px;
    border: 1px solid grey;
    border-radius: 5px;
    border-left: none;
    cursor: pointer;
    text-align: center;
  }
  
  .applyJ:hover {
    background: #7122FA;
  }
  
  .applyJ::after {
    content: "";
    clear: both;
    display: table;
  }
 
  /*
  footer{
    height: 2.5rem; 
  }
  
   footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem; 
    padding: 40px 20% 4% 21%;    
    
    background-color: #7122FA;      
   }  

 footer ul{
          
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;     
    
} */
/* 
.footer-links {  
  font-size: 15px;  
  text-decoration: none;
  color: rgb(179, 189, 182);
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
}

.footer-links:hover{
  color: rgb(1, 2, 10);
  text-decoration: none;
} */

#copyr{
  font-weight: bold;
  font-size: large;
  color: rgb(160, 160, 165);
}






/*                                        CSS for  Mobiles                  */


@media (max-width: 480px) { 

  
        #data {
          padding-top: 200px;
          margin: 0 6% 0 23.5%;
          display: grid;
          grid-template-columns: repeat(1, 1fr);   
          margin-bottom: 8%;  
      }


    .search-bar input[type=text] {
        padding: 6px ;    
        margin: 0.5% 0 0 3%; 
        width: 22%;
        font-size: 10px;
        border: 1px solid grey;
        border-radius: 5px ;
        float: left;    
        background-color: white;
        text-align: center;
        
      }
      
       
      .search-bar button {
          
        float: left;
        width: 14%;
        padding: 6px;
        margin: 0.5% 0 0 2%;
        background: #7122FA;
        color: white;
        font-size: 10px;
        border: 1px solid grey;
        border-radius: 5px;
        border-left: none;
        cursor: pointer;
        
      }


    .applyJ{      
      float:right;
      width: 27%;
      padding: 5px;      
      background: black;
      color: white;
      font-size: 11px;
      border: 1px solid grey;
      border-radius: 5px;
      border-left: none;
      cursor: pointer;
      text-align: center;
      margin-bottom: -5%;
    }

  
}



/*                                                      CSS for Tablets/Ipads             */

@media (min-width: 481px) and (max-width: 768px) { 
   
    

      #data {
        padding-top: 200px;
        margin: 0 6% 0 17.2%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);   
        margin-bottom: 8%;  
    }

    .search-bar input[type=text] {
        padding: 6px ;    
        margin: 0.5% 0 0 3%; 
        width: 22%;
        font-size: 10px;
        border: 1.5px solid rgb(97, 96, 96);
        border-radius: 5px ;
        float: left;    
        background-color: white;
        text-align: center;
        
      }
      
       
      .search-bar button {
          
        float: left;
        width: 14%;
        padding: 6px;
        margin: 0.5% 0 0 2%;
        background: #7122FA;
        color: white;
        font-size: 10px;
        border: 1px solid grey;
        border-radius: 5px;
        border-left: none;
        cursor: pointer;
        
      }

      .applyJ{
        margin-bottom: -5%;      
        float:right;
        width: 27%;
        padding: 5px;      
        background: black;
        color: white;
        font-size: 11px;
        border: 1px solid grey;
        border-radius: 5px;
        border-left: none;
        cursor: pointer;
        text-align: center;
      }

      .footer-links { 
        margin-left: 2%; 
        font-size: 13px;  
        text-decoration: none;
        color: rgb(230, 238, 233);
        font-weight: bold;
        cursor: pointer;
        padding: 10px;
      }

    

} 